@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a192f;
  --light: #ccd6f6;
  --subtext: #8892b0;
  --primary: #64ffda;
  --highlight: #ccd6f6;
  --link:#e4ed63;
}

body {
  background-color: var(--background);
  color: var(--light);
  font-family: "Inter", sans-serif;
}
nav {
  /* Remove border-r */
  background-color: var(--background);
}

.nav-link {
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--subtext);
  transition: color 0.3s ease-in-out;
  cursor: pointer; /* Add hand cursor */
}

.nav-link:hover {
  color: var(--primary);
}

.nav-indicator {
  display: inline-block;
  width: 20px; /* Longer default length */
  height: 2px;
  background-color: var(--subtext);
  margin-right: 12px;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-link:hover .nav-indicator {
  width: 40px; /* Extends further on hover */
  background-color: var(--primary);
}
.social-icon {
  font-size: 1.5rem; /* Increased size for visibility */
  color: var(--subtext);
  transition: color 0.3s ease-in-out;
}

.social-icon:hover {
  color: var(--primary);
}